<?xml version="1.0"?>
<robot name="rb_theron_v4" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="rbtheron_body" params="prefix:=robot_ hq:=true">

  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_radius" default="0.0762" />

	<!-- BASE FOOTPRINT -->
	<link name="${prefix}base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>

	<joint name="${prefix}base_footprint_joint" type="fixed">
		<origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
		<parent link="${prefix}base_footprint"/>
		<child link="${prefix}base_link" />
	</joint>

  <!-- BASE_LINK -->
  <link name="${prefix}base_link">
    <inertial>
      <mass value="45.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <xacro:if value="${hq}">
      <geometry>
      <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/rbtheron/theron_base_v4.stl"/>
      </geometry>
      </xacro:if>
      <xacro:unless value="${hq}">
      <geometry>
        <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/rbtheron/theron_base_v4.stl"/>
      </geometry>
      </xacro:unless>
      <material name="grey">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
        <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/rbtheron/theron_base_v4.stl"/>
       </geometry>
    </collision>
  </link>

  <gazebo reference="${prefix}base_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- LOGO ROBOTNIK IZQUIERDO -->
  <link name="${prefix}base_logo_left">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/robotnik_logo_chasis.stl"/>
    </geometry>
    <material name="darkgrey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>
    </visual>
  </link>

  <joint name="${prefix}base_logo_left_joint" type="fixed">
    <origin xyz="0.0 0.27531 0.19062" rpy="0 0 0" />
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base_logo_left" />
  </joint>

  <!-- LOGO ROBOTNIK DERECHO -->
  <link name="${prefix}base_logo_right">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/robotnik_logo_chasis.stl"/>
    </geometry>
    <material name="darkgrey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>
    </visual>
  </link>

  <joint name="${prefix}base_logo_right_joint" type="fixed">
    <origin xyz="0.0 -0.27531 0.19062" rpy="0 0 ${PI}" />
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base_logo_right" />
  </joint>

  <!-- LOGO ROBOTNIK FRONTAL -->
  <link name="${prefix}base_logo_front">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/robotnik_logo_chasis.stl"/>
    </geometry>
    <material name="darkgrey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>
    </visual>
  </link>

  <joint name="${prefix}base_logo_front_joint" type="fixed">
    <origin xyz="0.332 0.0 0.0" rpy="0 0 ${-PI/2}" />
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base_logo_front" />
  </joint>

  <!-- LOGO ROBOTNIK TRASERO -->
  <link name="${prefix}base_logo_rear">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
    <mesh filename="package://arena_robots/robots/rbtheron/meshes/bases/robotnik_logo_chasis.stl"/>
    </geometry>
    <material name="darkgrey">
      <color rgba="0.5 0.5 0.5 1"/>
    </material>
    </visual>
  </link>

  <joint name="${prefix}base_logo_rear_joint" type="fixed">
    <origin xyz="-0.332 0.0 0.0" rpy="0 0 ${PI/2}" />
    <parent link="${prefix}base_link"/>
    <child link="${prefix}base_logo_rear" />
  </joint>

   <!-- DOCKING CONTACT -->

    <link name="${prefix}base_docking_contact">
    </link>

    <joint name="${prefix}base_docking_joint" type="fixed">
      <origin xyz="0.35 0 0.09" rpy="0 0 0" />
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base_docking_contact" />
    </joint>

  </xacro:macro>
</robot>
