<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rb_theron">



	<!-- Import differential base elements -->
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/bodies/rbtheron/rbtheron_body.urdf.xacro" />

	<!-- Import wheels -->
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/wheels/rubber_wheel/rubber_wheel_150.urdf.xacro" />

	<!-- Import casters -->
	<xacro:include filename="$(find arena_robots)/robots/rbtheron/urdf/wheels/caster_wheel/rbtheron_caster.urdf.xacro" />

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0" />
	<xacro:property name="wheel_offset_y" value="0.2516" />
	<xacro:property name="wheel_offset_z" value="0.0" />
	<!-- castor -->
	<xacro:property name="castor_offset_x" value="0.235" />
	<xacro:property name="castor_offset_y" value="0.1825" />
	<xacro:property name="castor_offset_z" value="0.0448" />


	<xacro:macro name="rbtheron" params="prefix:=robot_ hq:=true">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- RB_THERON base -->
		<xacro:rbtheron_body prefix="${prefix}" hq="${hq}" />

		<!-- WHEELS -->
		<xacro:rubber_wheel prefix="${prefix}right_" parent="${prefix}base_link" hq="${hq}">
			<origin xyz="${wheel_offset_x} ${-wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>
		<xacro:rubber_wheel prefix="${prefix}left_" parent="${prefix}base_link" hq="${hq}">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>

		<!-- Castor wheels-->
		<xacro:caster prefix="${prefix}front_left_" parent="${prefix}base_link" hq="${hq}" use_sim="true">
			<origin xyz="${castor_offset_x} ${castor_offset_y} ${castor_offset_z}" rpy="0 0 0"/>
		</xacro:caster>
		<xacro:caster prefix="${prefix}front_right_" parent="${prefix}base_link" hq="${hq}" use_sim="true">
			<origin xyz="${castor_offset_x} ${-castor_offset_y} ${castor_offset_z}" rpy="0 0 0"/>
		</xacro:caster>
		<xacro:caster prefix="${prefix}rear_left_" parent="${prefix}base_link" hq="${hq}" use_sim="true">
			<origin xyz="${-castor_offset_x} ${castor_offset_y} ${castor_offset_z}" rpy="0 0 0"/>
		</xacro:caster>
		<xacro:caster prefix="${prefix}rear_right_" parent="${prefix}base_link" hq="${hq}" use_sim="true">
			<origin xyz="${-castor_offset_x} ${-castor_offset_y} ${castor_offset_z}" rpy="0 0 0"/>
		</xacro:caster>


	</xacro:macro>

</robot>
