<?xml version="1.0"?>
<robot name="rbrobout" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB-Robout base elements -->
	<xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/bodies/rbrobout/rbrobout_body.urdf.xacro" />

	<!-- Import RB-Robout wheels -->
  	<xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/wheels/mecanum_wheel/rbrobout_mecanum_wheel.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find arena_robots)/robots/rbrobout/urdf/all_sensors.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.558" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2865" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

    <xacro:macro name="rbrobout" params="prefix:=robot_ gazebo_classic:=false gazebo_ignition:=false">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<xacro:rbrobout_body prefix="${prefix}" />

		<!-- Wheels -->
		<xacro:rbrobout_mecanum_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="false" hq="${hq}" gazebo_classic="${gazebo_classic}" gazebo_ignition="${gazebo_ignition}"
			xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}">
		</xacro:rbrobout_mecanum_wheel>

		<xacro:rbrobout_mecanum_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="true" hq="${hq}" gazebo_classic="${gazebo_classic}" gazebo_ignition="${gazebo_ignition}"
			xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}">
		</xacro:rbrobout_mecanum_wheel>

		<xacro:rbrobout_mecanum_wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="false" hq="${hq}" gazebo_classic="${gazebo_classic}" gazebo_ignition="${gazebo_ignition}"
			xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}">
		</xacro:rbrobout_mecanum_wheel>

		<xacro:rbrobout_mecanum_wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="true" hq="${hq}" gazebo_classic="${gazebo_classic}" gazebo_ignition="${gazebo_ignition}"
			xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}">
		</xacro:rbrobout_mecanum_wheel>

   </xacro:macro>

</robot>
