<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cpr_onav_standard_kit">
  <xacro:macro name="standard_kit" params="swiftnav_position_xyz swiftnav_heading_xyz microstrain_xyz microstrain_rpy vlp_xyz vlp_rpy vlp_num">

    <xacro:include filename="$(find arena_robots)/robots/husky/urdf/VLP-16.urdf.xacro"/>

    <!-- Position GPS (Duro) -->
    <link name="gps_position_link">
      <visual>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <material name="white">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0 " />
      </collision>
    </link>
    <joint name="gps_position_to_base" type="fixed">
      <parent link="base_link" />
      <child link="gps_position_link" />
      <origin xyz="${swiftnav_position_xyz}" rpy="0 0 0"/>
    </joint>

    <!-- Heading GPS -->
    <link name="gps_heading_link">
      <visual>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <material name="white">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0 " />
      </collision>
    </link>
    <joint name="gps_heading_to_base" type="fixed">
      <parent link="base_link" />
      <child link="gps_heading_link" />
      <origin xyz="${swiftnav_heading_xyz}" rpy="0 0 0"/>
    </joint>

    <!-- Microstrain Link -->
    <link name="microstrain_link"/>
    <joint name="microstrain_to_base" type="fixed">
      <parent link="base_link" />
      <child link="microstrain_link" />
      <origin xyz="${microstrain_xyz}" rpy="${microstrain_rpy}"/>
    </joint>

    <!-- Velodyne Link -->
    <xacro:VLP-16 name="velodyne" parent="base_link" topic="/sensors/lidar_${vlp_num}/pointcloud">
      <origin xyz="${vlp_xyz}" rpy="${vlp_rpy}" />
    </xacro:VLP-16>

  </xacro:macro>
</robot>
