<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cpr_onav_starter_kit">
  <xacro:macro name="starter_kit" params="name parent starter_kit_xyz starter_kit_rpy ublox_xyz ublox_rpy phidget_spatial_xyz phidget_spatial_rpy d435_xyz d435_rpy rear_d435_xyz rear_d435_rpy">

    <xacro:include filename="$(find arena_robots)/robots/husky/urdf/_d435.urdf.xacro" />
    <xacro:include filename="$(find arena_robots)/robots/husky/urdf/accessories/d435_gazebo.urdf.xacro" />

    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/starter_kit.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="yellow" />
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/starter_kit.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0 " />
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_link" />
      <origin xyz="${starter_kit_xyz}" rpy="${starter_kit_rpy}"/>
    </joint>

    <!-- Position GNSS (Ublox) -->
    <link name="gps_position_link">
      <visual>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <material name="white">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://arena_robots/robots/husky/meshes/gnss_antenna.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0 " />
      </collision>
    </link>
    <joint name="gps_position_to_kit" type="fixed">
      <parent link="${name}_link" />
      <child link="gps_position_link" />
      <origin xyz="${ublox_xyz}" rpy="${ublox_rpy}"/>
    </joint>

    <!-- Phidget Spatial IMU -->
    <link name="phidget_spatial_link"/>
    <joint name="phidget_spatial_to_kit" type="fixed">
      <parent link="${name}_link" />
      <child link="phidget_spatial_link" />
      <origin xyz="${phidget_spatial_xyz}" rpy="${phidget_spatial_rpy}"/>
    </joint>

    <!-- Realsense D435 -->
    <xacro:sensor_d435 name="front_d435" parent="${name}_link" use_mesh="true">
      <origin xyz="${d435_xyz}" rpy="${d435_rpy}"/>
    </xacro:sensor_d435>
    <xacro:d435_gazebo name="front_d435" topic_n="0" />

    <!-- Rear Realsense D435 -->
    <xacro:sensor_d435 name="rear_d435" parent="${name}_link" use_mesh="true">
      <origin xyz="${rear_d435_xyz}" rpy="${rear_d435_rpy}"/>
    </xacro:sensor_d435>
    <xacro:d435_gazebo name="rear_d435" topic_n="1" />

  </xacro:macro>
</robot>
