<?xml version="1.0"?>
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base create3 model -->
  <xacro:include filename="$(find irobot_create_description)/urdf/create3.urdf.xacro">
    <xacro:arg name="gazebo" value="ignition"/>
  </xacro:include>
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/sensors/rplidar.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/sensors/oakd.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/sensors/camera_bracket.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/tower_standoff.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/tower_sensor_plate.urdf.xacro" />
  <xacro:include filename="$(find arena_robots)/robots/turtlebot/urdf/weight_block.urdf.xacro" />

  <!-- Mechanical properties -->
  <xacro:property name="shell_z_offset"                value="${3*cm2m}" />
  <xacro:property name="shell_radius"                  value="${12*cm2m}" />
  <xacro:property name="shell_length"                  value="${20*cm2m}" />
  <xacro:property name="shell_mass"                    value="0.390" />
  <xacro:property name="weight_x_offset"               value="${6.005267*cm2m}"/>
  <xacro:property name="weight_y_offset"               value="${8.758841*cm2m}"/>
  <xacro:property name="bottom_weight_z_offset"        value="${9.788546*cm2m}"/>
  <xacro:property name="top_weight_z_offset"           value="${10.688546*cm2m}"/>
  <xacro:property name="front_tower_standoff_x_offset" value="${3.063*cm2m}"/>
  <xacro:property name="front_tower_standoff_y_offset" value="${11.431*cm2m}"/>
  <xacro:property name="rear_tower_standoff_x_offset"  value="${-7.607*cm2m}"/>
  <xacro:property name="rear_tower_standoff_y_offset"  value="${9.066*cm2m}"/>
  <xacro:property name="tower_standoff_z_offset"       value="${14.757*cm2m}"/>
  <xacro:property name="tower_sensor_plate_z_offset"   value="${25.257*cm2m}"/>
  <xacro:property name="rplidar_x_offset"              value="${-4*cm2m}"/>
  <xacro:property name="rplidar_y_offset"              value="${0*cm2m}"/>
  <xacro:property name="rplidar_z_offset"              value="${9.8715*cm2m}"/>
  <xacro:property name="camera_mount_x_offset"         value="${-11.8*cm2m}"/>
  <xacro:property name="camera_mount_y_offset"         value="${0*cm2m}"/>
  <xacro:property name="camera_mount_z_offset"         value="${5.257*cm2m}"/>
  <xacro:property name="oakd_pro_x_offset"             value="${5.84*cm2m}"/>
  <xacro:property name="oakd_pro_y_offset"             value="${0*cm2m}"/>
  <xacro:property name="oakd_pro_z_offset"             value="${9.676*cm2m}"/>

  <!-- Shell Link -->
  <joint name="shell_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="shell_link"/>
    <origin xyz="0 0 ${shell_z_offset}" rpy="0 0 0"/>
    <turnGravityOff>false</turnGravityOff>
  </joint>

  <link name="shell_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://turtlebot4_description/meshes/shell.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision name="shell_collision">
      <geometry>
        <mesh filename="package://turtlebot4_description/meshes/shell_collision.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="${shell_mass}"/>
      <inertia ixx="0.00281295367" ixy="-0.00000137675" ixz="-0.00005790057"
               iyy="0.00164666421" iyz="0.00000564466" izz="0.00424540124" />
    </inertial>
    <turnGravityOff>false</turnGravityOff>
  </link>

  <gazebo reference="shell_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- Weight Blocks -->
  <xacro:weight_block name="front_left_bottom_weight_block">
    <origin xyz="${weight_x_offset} ${weight_y_offset} ${bottom_weight_z_offset}"/>
  </xacro:weight_block>
  <xacro:weight_block name="front_left_top_weight_block">
    <origin xyz="${weight_x_offset} ${weight_y_offset} ${top_weight_z_offset}"/>
  </xacro:weight_block>
  <xacro:weight_block name="front_right_bottom_weight_block">
    <origin xyz="${weight_x_offset} ${-weight_y_offset} ${bottom_weight_z_offset}" rpy="${pi} 0 0"/>
  </xacro:weight_block>
  <xacro:weight_block name="front_right_top_weight_block">
    <origin xyz="${weight_x_offset} ${-weight_y_offset} ${top_weight_z_offset}" rpy="${pi} 0 0"/>
  </xacro:weight_block>

  <!-- Tower Standoffs -->
  <xacro:tower_standoff name="front_left_tower_standoff">
    <origin xyz="${front_tower_standoff_x_offset} ${front_tower_standoff_y_offset} ${tower_standoff_z_offset}"/>
  </xacro:tower_standoff>
  <xacro:tower_standoff name="front_right_tower_standoff">
    <origin xyz="${front_tower_standoff_x_offset} ${-front_tower_standoff_y_offset} ${tower_standoff_z_offset}"/>
  </xacro:tower_standoff>
  <xacro:tower_standoff name="rear_left_tower_standoff">
    <origin xyz="${rear_tower_standoff_x_offset} ${rear_tower_standoff_y_offset} ${tower_standoff_z_offset}"/>
  </xacro:tower_standoff>
  <xacro:tower_standoff name="rear_right_tower_standoff">
    <origin xyz="${rear_tower_standoff_x_offset} ${-rear_tower_standoff_y_offset} ${tower_standoff_z_offset}"/>
  </xacro:tower_standoff>
  <xacro:tower_sensor_plate name="tower_sensor_plate">
    <origin xyz="0 0 ${tower_sensor_plate_z_offset}"/>
  </xacro:tower_sensor_plate>

  <!-- Sensors -->
  <xacro:rplidar name="rplidar" parent_link="shell_link" gazebo="true">
    <origin xyz="${rplidar_x_offset} ${rplidar_y_offset} ${rplidar_z_offset}" rpy="0 0 ${pi/2}"/>
  </xacro:rplidar>
  <xacro:camera_bracket name="oakd_camera_bracket">
    <origin xyz="${camera_mount_x_offset} ${camera_mount_y_offset} ${camera_mount_z_offset}"/>
  </xacro:camera_bracket>
  <xacro:oakd model="pro" parent_link="oakd_camera_bracket">
    <origin xyz="${oakd_pro_x_offset} ${oakd_pro_y_offset} ${oakd_pro_z_offset}"/>
  </xacro:oakd>

  <!-- Gazebo Sim Plugins -->
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <topic>joint_states</topic>
    </plugin>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.24</wheel_separation>
      <wheel_radius>0.098</wheel_radius>
      <odom_publish_frequency>50</odom_publish_frequency>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
    </plugin>
  </gazebo>

  <!-- Wheel Friction and Dynamics -->
  <gazebo reference="wheel_left_link">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <fdir1>1 0 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>
  <gazebo reference="wheel_right_link">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <fdir1>1 0 0</fdir1>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
  </gazebo>

  <!-- Base Link Properties -->
  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-pose-publisher-system"
      name="gz::sim::systems::PosePublisher">
      <publish_model_pose>true</publish_model_pose>
      <publish_link_pose>false</publish_link_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_sensor_pose>false</publish_sensor_pose>
      <publish_nested_model_pose>true</publish_nested_model_pose>
      <use_pose_vector_msg>false</use_pose_vector_msg>
    </plugin>
  </gazebo>

  <gazebo reference="wheel_left_drop_link"></gazebo>
  <gazebo reference="wheel_right_drop_link"></gazebo>
  <gazebo reference="side_left_cliff_link"></gazebo>
  <gazebo reference="side_right_cliff_link"></gazebo>
  <gazebo reference="front_left_cliff_link"></gazebo>
  <gazebo reference="front_right_cliff_link"></gazebo>
  <gazebo reference="front_center_left_ir_link"></gazebo>
  <gazebo reference="front_center_right_ir_link"></gazebo>
  <gazebo reference="front_left_ir_link"></gazebo>
  <gazebo reference="front_right_ir_link"></gazebo>
  <gazebo reference="left_ir_link"></gazebo>
  <gazebo reference="right_ir_link"></gazebo>
  <gazebo reference="side_left_ir_link"></gazebo>
  <gazebo reference="ir_omni_link"></gazebo>
</robot>